<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forum</title>
  <link rel="shortcut icon" href="/static/images/meta.png" type="image/x-icon" />
  <link rel="stylesheet" href="/static/home.css" />
  <link rel="stylesheet" href="/static/navbar.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-uWFS2SyMlXU1P9Uv9Z4q1XLh3QjsoZ4SB8QoX0OQH5m6goZQyA5DFmuH2gOdf5U3GVabkUqZbJKnSSCBaEVz2w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>

<body>
  <header>
    <a href="/" class="title">Forum</a>
    <div>
      <div class="gap">
        {{if .Session}}
        <input type="checkbox" id="filter-toggle1" class="hidd" />
        <label for="filter-toggle1" class="postbtn1">Filter</label>
        <input type="checkbox" id="post-toggle" class="hidd" />
        <label for="post-toggle" class="postbtn2">Create post</label>
        <div class="postform">
          <h2>Create Post</h2>
          <form action="/createPost" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title" required /><br />
            <textarea name="description" placeholder="Content" required></textarea><br />
            <div class="categorie">
              {{ range .Categories}}

              <input type="checkbox" id="tag{{.Id}}" class="tag-checkk" name="tags" value="{{.Id}}" hidden />
              <label for="tag{{.Id}}" class="tagCC">{{.Name}}</label>
              {{end}}
            </div>
            <div class="upload">
              <input type="file" name="myFile" />
            </div>
            <br />
            <input type="submit" value="Create Post" class="btnform" id ="buton" /><br />
          </form>
        </div>
        {{end}} {{if .Session}}
        <input type="checkbox" id="toggle-menu" class="hidd" />
        <label for="toggle-menu" class="avatar-label">
          <img src="https://robohash.org/{{.UserActive}}.png?size=50x50" />
        </label>
        <div class="dropdown">
          <strong>Mr {{.UserActive}}</strong>
          <hr />
          <form action="/logout" method="post" class="formlog">
            <button class="Btn" type="submit">
              <div class="sign">
                <svg viewBox="0 0 512 512">
                  <path fill="white"
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                  </path>
                </svg>
              </div>
              <div class="text">Logout</div>
            </button>
          </form>
        </div>
      </div>
      {{else}}
      <div class="gap">
        <a href="/register" class="register">Register</a>
        <a href="/login" class="login">Login</a>
      </div>
      {{end}}
    </div>
  </header>
  <!-- main section -->
  {{if gt (len .Posts) 0}}
  <div class="allPost">
    {{if .Session}}
    <aside class="aside2">
      <form action="/myPosts" method="post" class="form1">
        <button type="submit" class="filterbtn">My posts</button>
      </form>
      <form action="/likedPosts" method="post" class="form2">
        <button type="submit" class="filterbtn">Liked Posts</button>
      </form>
      <form action="/filter" method="post" class="form3">
        {{ range .Categories }}
        <input type="checkbox" id="tagg{{.Id}}" class="tag" name="tags" value="{{.Id}}" hidden />
        <label for="tagg{{.Id}}" class="jme3">
          <span>{{.Icon}}</span>
          <span class="tagCategorie">{{.Name}}</span>
        </label>
        {{ end }}
        <button type="submit" class="filterbtn">filter</button>
      </form>
    </aside>
    {{else}}
    <aside class="aside1">
      <form action="/filter" method="post">
        {{ range .Categories }}
        <input type="checkbox" id="tagg{{.Id}}" class="tag" name="tags" value="{{.Id}}" hidden />
        <label for="tagg{{.Id}}" class="jme3">
          <span>{{.Icon}}</span>
          <span class="tagCategorie">{{.Name}}</span>
        </label>
        {{ end }}
        <button type="submit" class="filterbtn">filter</button>
      </form>
    </aside>
    {{end}}
    {{range .Posts}}
    {{$userId := .Id}}
    <!-- post card section -->
    <div class="post-combine">
      <div class="post-card" id="post-{{.Id}}">
        <div class="first-part">
          <div class="post-header">
            <div class="user-info">
              <img src="https://robohash.org/{{.Username}}.png?size=50x50" class="avatar" />
              <span class="username">{{.Username}}</span>
            </div>
            <span class="post-time">{{.TimeFormatted}}</span>
          </div>

          <h2 class="post-title">{{.Title}}</h2>


          {{if .ImagePath}}
          <img src="/uploads/{{.ImagePath}}" class="image" />
          {{end}}

          <p class="post-description">{{.Description}}</p>
          <div class="post-tags">
            {{range .Categories}}
            <span class="tag">{{.Name}}</span>
            {{end}}
          </div>
          <div class="post-reactions">
            <form action="/reaction" method="post">
              <div class="reaction">
                <span class="span-like  {{if eq .UserReactionPosts 1}}active-like{{end}}">{{.TotalLikes}}</span>
                <button name="reaction" value="1" class="like-btn  {{if eq .UserReactionPosts 1}}active-like{{end}}"
                  type="submit">
                  <i class="fa-solid fa-thumbs-up"></i>
                </button>
              </div>
              <div class="reaction">
                <span
                  class="span-dislike {{if eq .UserReactionPosts -1}}active-dislike{{end}}">{{.TotalDislikes}}</span>
                <button name="reaction" value="-1"
                  class="dislike-btn  {{if eq .UserReactionPosts -1}}active-dislike{{end}}" type="submit">
                  <i class="fa-solid fa-thumbs-down"></i>
                </button>
              </div>
              <div class="reaction">
                <span>{{.TotalComments}}</span>
                <input type="checkbox" class="hidd" id="commentshow-{{.Id}}" />
                <label for="commentshow-{{.Id}}" class="comment-icon"><i class="fa-solid fa-comment"></i></label>
                <style>
                #post-{{.Id}}:has(#commentshow-{{.Id}}:checked) .second-part {
                  display: flex;
                }
                </style>
              </div>
              <input type="hidden" name="postID" value="{{.Id}}" />
            </form>
          </div>
        </div>
        <div class="second-part" id="post-{{.Id}}">
          {{if $.Session}}
          <div class="comment">
            <form action="/comment" method="post">
              <input type="hidden" name="postID" value="{{.Id}}" />
              <img src="https://robohash.org/{{$.UserActive}}.png?size=50x50" />
              <input type="text" name="comment" placeholder="Add Comment" required /><br />
              <button type="submit">Add</button>
            </form>
            <hr />
          </div>
          {{end}}
          {{if gt (len .Comments) 0}}
          <div class="commentaires">
            {{range .Comments}}
            <div class="comments">
              <img src="https://robohash.org/{{.Username}}.png?size=50x50" />
              <div class="comment-content">
                <p class="user"><strong>{{.Username}}</strong></p>
                <p class="comm">{{.Comment}}</p>
                <div class="comment-actions">
                  <span class="time">{{.TimeFormattedComment}}</span>
                  <div class="comment-reactions">
                    <form action="/CommentsLike " method="post">
                      <div class="reactionComment">
                        <span
                          class="span-like  {{if eq .UserReactionComment 1}}active-like{{end}}">{{.TotalLikes}}</span>
                        <button name="reaction" value="1"
                          class="comment-like-btn {{if eq .UserReactionComment 1}}active-like{{end}}" type="submit">
                          <i class="fa-solid fa-thumbs-up"></i>
                        </button>
                      </div>
                      <div class="reactionComment">
                        <span
                          class="span-dislike {{if eq .UserReactionComment -1}}active-dislike{{end}}">{{.TotalDislikes}}</span>
                        <button name="reaction" value="-1"
                          class="comment-dislike-btn {{if eq .UserReactionComment -1}}active-dislike{{end}}"
                          type="submit">
                          <i class="fa-solid fa-thumbs-down"></i>
                        </button>
                      </div>
                      <input type="hidden" name="userId" value="{{$userId}}" />
                      <input type="hidden" name="commentID" value="{{.Id}}" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
          </div>
          {{else}}
          <h1 class="messageErr">No Commentaires 🤷‍♂️</h1>
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
    <!-- end post card section -->
  </div>
  </div>
  {{else}}
  <h1 class="notfound">No posts found 🤷‍♂️</h1>
  {{end}}
  <!-- end main section -->
</body>
<script>
  const toggleMenu = document.getElementById("toggle-menu");
  const postToggle = document.getElementById("post-toggle");
  const filterToggle = document.getElementById("filter-toggle1");

  toggleMenu.addEventListener("change", function () {
    if (this.checked) {
      postToggle.checked = false;
      filterToggle.checked = false;
    }
  });

  postToggle.addEventListener("change", function () {
    if (this.checked) {
      toggleMenu.checked = false;
      filterToggle.checked = false;
    }
  });

  filterToggle.addEventListener("change", function () {
    if (this.checked) {
      toggleMenu.checked = false;
      postToggle.checked = false;
    }
  });

</script>

</html>buton