<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>

  <body>
    <header class="header">
      <h1 class="title">Forum</h1>
      {{if .Session }}

      <h1>name</h1>
      {{end}}
      <div>
        {{if .Session}}
        <form action="/logout" method="post" id="logout">
          <input type="submit" name="submit" value="Logout" />
        </form>
        {{else}}

        <a href="/login"> login </a>
        <a href="/register"> register </a>

        {{end}}
      </div>
    </header>

    <div style="border: 0 black">
      {{range .Posts}}

      <div class="post">
        <h2>{{.Title}}</h2>
        <p>{{.Description}}</p>
        <p id="time">Created at: {{.Time}}</p>

        <div>


          <form action="/reaction" method="post">
            like [ {{.TotalLikes}} ]<input type="radio" name="reaction" value="1" onchange="this.form.submit()" />
            dislike  [{{.TotalDislikes}}] <input type="radio" name="reaction" value="-1" onchange="this.form.submit()" />
            <input type="text" name="postID" value="{{.Id}}" hidden />
          </form>



<div class="commentshow">
          <h3>Comments</h3>
          {{range .Comments}}
          <div class="comment">
            <p>{{.Comment}}</p>
            <p id="time">Created at: {{.Time}}</p>
            <p>{{.Username }}</p>
          
          </div>
          {{end}}

</div>






        </div>
        {{if $.Session}}
              <div class="comment">
        
                <form action="/comment"  method="post">
                  <input type="text" name="comment" placeholder="Comment" required /><br />
                  <input type="text" name="postID" value="{{.Id}}" hidden />
                  <input type="submit" value="Comment" /><br />
                </form>
              </div>
        
              {{end}}
      </div>

      {{end}}
    </div>

    {{if .Session }}

    <div class="postform">
      <form action="/createPost" method="post">
        <input type="text" name="title" placeholder="Title" required /><br />
        <textarea name="description" placeholder="Content" required></textarea
        ><br />
        <select name="categoryID" id="">
          <option value="">select a categorie</option>
          {{range .Categories}}
          <option value="{{.Id}}">{{.Name}}</option>
          {{end}}
          </select
        ><br />
<br><br><br><br><br><br>

<input type="text" name=categories placeholder="create new categorie "  /><br />
        <input type="submit" value="Create Post" /><br />
      </form>
    </div>
    {{end}}
  </body>
</html>
