<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/meta.png" type="image/png" sizes="128x128">
    <title>login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        {{if . }}
        <div class="error">
            <span class="icon">🚫</span>
            <span class="message">Error: {{.}}</span>
            <span class="close-btn" onclick="this.parentElement.style.display='none';">✖</span>
        </div>
        
        {{end}}
        <div class="form-box login">
            <form action="/loginAuth" method="post">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text"  required name="username">
                    <label >Username</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" required name="password">
                    <label>Password</label>
                    <i class="fa-regular fa-eye-slash hidden"></i>
                    <i class="fa-regular fa-eye showen" style="display: none;"></i>
                </div>                                                    
                <button type="submit" class="btn">Login</button>
            </form>
        </div>

        <div class="form-box register">
            <form action="/registerAuth" method="post">
                <h1>Register</h1>
                <div class="input-box">
                    <input type="text"required name="username">
                    <label >Username</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="email" required name="email">
                    <label >Email</label>
                    <i class='bx bxs-envelope'></i>       
                </div>
                <div class="input-box">
                    <input type="password" required name="password">
                    <label>Password</label>
                    <i class="fa-regular fa-eye-slash hidden"></i>
                    <i class="fa-regular fa-eye showen" style="display: none;"></i>
                </div>  
                <div class="input-box">
                    <input type="password" required name="firstpassword">
                    <label>Password</label>
                    <i class="fa-regular fa-eye-slash hidden"></i>
                    <i class="fa-regular fa-eye showen" style="display: none;"></i>
                </div>  
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Hello, Welcome!</h1>
                <p>Don't have an account</p>
                <button class="btn register-btn">Register</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Welcome Back!</h1>
                <p>Already have an account</p>
                <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>
</body>
<script>
    // to make the form register or login active  (also make it desactive)
    const container = document.querySelector('.container');
    const registerBtn = document.querySelector('.register-btn');
    const loginBtn = document.querySelector('.login-btn');
    registerBtn.addEventListener('click',()=>{
        container.classList.add('active');
    });
    loginBtn.addEventListener('click',()=>{
        container.classList.remove('active');
    });

    // show password and hide it
    document.addEventListener("DOMContentLoaded", () => {
    const inputBoxes = document.querySelectorAll('.input-box');

    inputBoxes.forEach(box => {
        const input = box.querySelector('input[type="password"]');
        const eyeSlash = box.querySelector('.hidden');
        const eye = box.querySelector('.showen');

        if (input && eyeSlash && eye) {
            eyeSlash.addEventListener('click', () => {
                input.type = 'text';
                eyeSlash.style.display = 'none';
                eye.style.display = 'block';
            });

            eye.addEventListener('click', () => {
                input.type = 'password';
                eye.style.display = 'none';
                eyeSlash.style.display = 'block';
            });
        }
    });
});

</script>
</html>