:root {
  --wahd: #04aa6d;
  --joj: #090114;
  --tlata: #6a2fc7;
  --bg: #0a0a0a;
  --bg2: #4285f4;
  --akhdar: #0afb26;
}
.notfound {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, "Open Sans", sans-serif;
}

body::-webkit-scrollbar,
.commentaires::-webkit-scrollbar,
.comm::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
}

body {
  background: #373f4b;
}

.allPost {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 100px auto 0 auto;
  padding: 0 0 0 100px;
}
.post-combine {
  display: flex;
  width: 70%;
  margin-left: auto;
}

.post-card {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 800px;
  background: #222831;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin: 0 auto 15px auto;
}
.post-card .image {
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.first-part {
  width: 100%;
}

.second-part {
  animation: 0.5s linear second-part;
  overflow: auto;
  border-radius: 10px;
  padding: 12px 0;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  display: none;
  width: 100%;
  margin: 10px 0px;
  background-color: #2e313ac9;
}
.comment-title {
  text-align: center;
  font-size: 16px;
  color: #04aa6d;
}
.comment {
  display: flex;
  width: 100%;
  border: 2px #000;
  margin-bottom: 10px;
}

.commentaires {
  height: 100%;
  overflow: auto;
}

.comment form {
  gap: 5px;
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 0px 20px;
  margin-bottom: 10px;
}

.comment button {
  cursor: pointer;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: #04aa6d;
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 20px #04aa6d;
}

.comment form input {
  color: white;
  padding: 0 0 0 10px;
  height: 35px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
}

.comment form input:focus {
  border: 1px solid #04aa6d;
}

.commentaires .comments {
  margin-left: 10px;
  z-index: 5;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.messageErr {
  text-align: center;
  font-size: 20px;
}

.commentaires .comments img {
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(150%);
  background-color: #48a6a71c;
  border: 1px solid #1e1e1e6e;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.comment-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.avatar,
.comment form img {
  filter: brightness(150%);
  background-color: #48a6a7b3;
  border: 1px solid #1e1e1e6e;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

body:has(#commentshow:checked) .second-part {
  display: flex;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.user-info {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.post-time {
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
}

.post-title {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 10px;
}

.tag {
  background-color: #006a71;
  padding: 8px 8px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
}

.post-description {
  font-size: 1.3rem;
  color: #fff5f5fb;
}

.post-reactions form {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  align-items: center;
}
.reactionComment {
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.comment-like-btn,
.comment-dislike-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  color: white;
}

.reaction {
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  align-items: center;
  justify-content: center;
  background-color: #04dbf121;
  padding: 8px 10px;
}

.like-btn,
.dislike-btn,
.comment-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.like-btn.active-like {
  color: #43abb4;
}

.dislike-btn.active-dislike {
  color: #ed2939;
}
.comment-like-btn.active-like {
  color: #43abb4;
}

.comment-dislike-btn.active-dislike {
  color: #ed2939;
}
.span-like.active-like {
  color: white;
}

.span-dislike.active-dislike {
  color: white;
}

.postform {
  animation: 0.5s postAn ease-in-out;
  display: none;
  width: 500px;
  box-shadow: 0 4px 15px rgb(67 171 180 / 38%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: white;
  flex-direction: column;
  background-color: #2d3039;
  text-align: center;
  border-radius: 15px;
}

.postform h2 {
  margin-top: 15px;
}

.postform form input {
  outline: none;
  background-color: transparent;
  color: white;
  padding: 0 0 0 10px;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 15px;
}

.postform form input:focus {
  border: 2px solid var(--wahd);
}

.postform form textarea {
  outline: none;
  color: white;
  background-color: transparent;
  resize: none;
  padding: 25px 0 0 10px;
  width: 90%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 30px;
}

.postform form textarea:focus {
  border: 2px solid var(--wahd);
}

.postform form .btnform {
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
  width: 90%;
  height: 40px;
  color: white;
  background-color: var(--wahd);
  outline: none;
  border: none;
  box-shadow: 0 0 20px #00adb5;
  border-radius: 10px;
}

.postform form .categorie {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  gap: 15px;
}

.tagCC,
.tagCategoriee {
  border: 2px solid var(--wahd);
  padding: 5px 0;
  width: 100px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.tag-checkk:checked + .tagCC {
  background-color: var(--wahd);
  color: white;
}

body:has(#post-toggle:checked) .postform {
  display: block;
}

body:has(#post-toggle:checked) .allPost {
  opacity: 0.3;
}

.comment-content .comm {
  background-color: gray;
  color: white;
  border-radius: 15px;
  padding: 8px 15px;
  width: fit-content;
  max-width: 70%;
  max-height: 100%;
  overflow: auto;
  word-wrap: break-word;
}

.comment-content .user {
  margin-bottom: 2px;
}

.comment-actions {
  align-items: center;
  font-size: 12px;
  color: rgb(248, 233, 233);
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.comment-actions span {
  cursor: pointer;
}

.comment-reactions form {
  display: flex;
  gap: 10px;
  align-items: center;
}

@keyframes postAn {
  0% {
    opacity: 0;
    top: -100%;
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes second-part {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.like {
  color: blue;
}
.deslike {
  color: red;
}

body:has(#filter-toggle1:checked) .filter {
  display: block;
}

body:has(#filter-toggle1:checked) .allPost {
  opacity: 0.3;
}

body:has(#filter-toggle:checked) .filter {
  display: block;
}

body:has(#filter-toggle:checked) .allPost {
  opacity: 0.3;
}
body:has(#filter-category:checked) .aside1,
body:has(#filter-category:checked) .aside2 {
  display: block;
  z-index: 50;
}
body:has(#filter-category:checked) .post-combine {
  opacity: 0.3;
}

/* dkxii lkhr ga33 */
.aside1 form {
  position: fixed;
  width: 300px;
  height: fit-content;
  background: #222831;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aside1 .jme3 {
  padding: 11px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 10px auto;
  font-size: 20px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
}
.aside1 .jme3 label {
  cursor: pointer;
}
.tagC,
.tagCategorie {
  width: 100px;
}
.jme3:hover {
  background-color: #cdcbec;
}

input[type="checkbox"].tag:checked + label.jme3 {
  background-color: #04aa6d;
}
.aside1 form button,
.aside2 form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  cursor: pointer;
  width: 90%;
  background-color: #43abb400;
  color: white;
  border-radius: 12px;
  margin: 20px auto 5px auto;
  box-shadow: 0 0 5px #04dbf1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 0;
}

.aside2 {
  position: fixed;
  width: 300px;
  height: fit-content;
  background: #222831;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aside2 .jme3 {
  padding: 11px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 15px auto;
  font-size: 20px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  border: none;
  background: #04aa6d;
  padding: 6px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.postform form input[type="file"] {
  outline: none;
  background-color: transparent;
  color: white;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px 0 10px 10px;
}

@media screen and (max-width: 1600px) {
  .allPost {
    width: 85%;
  }
}
@media screen and (max-width: 1500px) {
  .allPost {
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .allPost {
    width: 95%;
  }
}
@media screen and (max-width: 1300px) {
  .allPost {
    width: 100%;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 1100px) {
  .aside1 form,
  .aside2 {
    width: 270px;
  }
}
@media screen and (max-width: 1000px) {
  .aside1,
  .aside2 {
    display: none;
  }
  .aside1 form {
    left: 50%;
    transform: translateX(-50%);
  }
  .post-combine {
    margin: 0;
    width: 100%;
  }
  .allPost {
    align-items: center;
  }
}
