*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, "Open Sans", sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
body{
  background-color: #0a0a0a;
}
.allPost{
  width: 80%;
  margin: auto;
  display: flex;
  margin: 100px auto 0 auto;
  flex-wrap: wrap;
}
.post-card {
  background-color: #2a2a2a;
  color: #fff;
  padding: 24px;
  margin: 16px auto;
  border-radius: 12px;
  width: 470px;
  height: 350px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.user-info {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.post-time {
  margin-bottom: 15px;
  color: #4b5aff;
  font-size: 15px;
}

.post-title {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.post-tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.tag {
  background-color: #4b5aff;
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
}

.post-description {
  font-size: 17px;
  margin-bottom: 16px;
  color: #d0d0d0;
}

.post-reactions  form{
  margin-top: 23px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.reaction {
  display: flex;
  align-items: center;
}

.like-btn, .dislike-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ccc;
}

.postform{
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  top: 50%;
  left  : 50%;
  transform: translate(-50%,-50%);
  border:2px solid #0a0a0a;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  text-align: center;
  border-radius: 15px;
}
.postform form input{
  padding: 0 0 0 100px;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 10px;
}
.postform form input:focus{
  border:  2px solid black;
}
.postform form textarea{
  padding: 0 0 0 100px;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 30px;
    margin-top: 10px;
}
.postform form textarea:focus{
  border:  2px solid black;
}