:root {
  --wahd: #04aa6d;
  --joj: #090114;
  --tlata: #6a2fc7;
  --bg: #0a0a0a;
  --bg2: #4b5aff;
  --akhdar: #0afb26;
  --red: #eb4336;
}
header {
  background: #222831;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px var(--wahd);
}
header .F {
  color: var(--wahd);
}

header .title {
  cursor: pointer;
  font-size: clamp(2.2rem, 4vw + 1rem, 3.5rem);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.89);
  text-decoration: none;
}

.gap {
  align-items: center;
  display: flex;
  gap: 20px;
}
.gap .postbtn1 {
  display: none;
}
.gap .postbtn2,
.postbtn1 {
  padding: 8px 20px;
  text-decoration: none;
  background-color: var(--wahd);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.register {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.login {
  padding: 7px 20px;
  text-decoration: none;
  background-color: var(--wahd);
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  font-size: 18px;
}
.gap .filter-icon,
.gap .login-icon {
  padding: 8px 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--wahd);
  border: 2px solid white;
  width: 45px;
  height: 40px;
  display: none;
  text-align: center;
}
.gap i {
  color: white;
  font-size: 20px;
}

header form .formlog {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
  background: none;
  border: none;
}

.hidd {
  width: 0;
  height: 0;
  visibility: hidden;
}

.Btn {
  padding: 8px 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--wahd);
  border: 2px solid white;
  width: 45px;
  height: 40px;
}
.Btn svg {
  height: 17px;
  width: 17px;
}
.icon-post {
  display: none;
  padding: 8px 12px;
  text-decoration: none;
  background-color: var(--wahd);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

@keyframes postAn1 {
  0% {
    opacity: 0;
    top: -80%;
  }

  100% {
    opacity: 1;
    top: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .icon-post {
    display: block;
  }
  .gap .postbtn2 {
    display: none;
  }
  .gap .filter-icon {
    display: block;
  }
  .aside2 {
    animation: 0.5s postAn1 ease-in;
  }
  header {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 900px) {
  header {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 600px) {
  .gap .login-icon {
    display: block;
  }
  .register,
  .login {
    display: none;
  }
  header {
    padding: 15px 15px;
  }
}
@media screen and (max-width: 400px) {
  .gap {
    gap: 8px;
  }
  .icon-post {
    padding: 5px 12px;
    border: 1px solid white;
  }
  .Btn,
  .gap .filter-icon {
    height: 36px;
    border: 1px solid white;
  }
}
